.comment{
    margin-bottom: 45px;
}
.author-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    color: white;
}

.author-name{
    background-color: white;
    float: left;
    margin: 2;
}
.comment-content{
    background-color: white;
    clear: both;
}

